{% extends "base.html" %}

{% block content %}
    <div class="row text-center mt-5">
        <div class="col-1"></div>
        <div class="col-7 me-5">
            <div class="container shadow p-2">
                <h1 class="fw-bold title-main">Главная страница</h1><hr class="w-50 container">
                <p class="fw-bold">Наша компания занимается разработкой ПО на любой случай!</p>
            </div>
        </div>
        <div class="col-3 bg-success">
            <p>List</p>
        </div>
    </div>
    <div class="col-1"></div>
{% endblock %}